* {
	font-family: arial;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.book-item {
	min-height: 600px;
}

.book-list-table td {
	text-align: left;
}